$color-main: #7BBD1E;
$color-main-dark: #547625;
$color-warning: #FFC107;
$color-danger: #f4516c;
$color-secondary: #858688;
$color-dark : #343A40;
$color-light : #F8F9FA;
$color-info : #17A2B8;
$color-important : #007BFF;
$color-border: #CECECE;
$color-icon: #A9A9A9;
$bg-button-color: #E9E9E9;

$spacers: 1rem;

$border-color: #CECECE;
$border-grey-color: #d9d9d9;

$big-font-size: 16px;
$font-size: 13px;
$small-font-size: 11px;

$primary-color: #151B22;
$primary-dark-color: #0B0E12;
$primary-light-color: #858688;
$accent-color: #8DC63F;
$accent-dark-color: #547625;
$accent-light-color: #BADC8B;
$secondary-color: #396500;
$secondary-dark-color: #1C3200;
$secondary-light-color: #608332;

$blue: #04B0ED;
$blue-dark: #175DB5;
$blue-light: #68CFF4;
$green: #2CCB8D;
$green-dark: #1A7954;
$green-light: #6BDAAF;
$yellow: #F2CA19;
$yellow-dark: #A17C03;
$yellow-light: #FAD868;
$red: #FF0433;
$red-dark: #DC3545;
$red-light: #FF4F70;
$orange: #EB6E19;
$pink: #BF4B94;
$violet: #5A5EAB;
$white: #FFFFFF;

$transition-all: 0.5s all;
