<div>
  <form *ngIf="formGroup" [formGroup]="formGroup" nz-form>
    <div class="details">
      <app-sts-collapse headerText="Staff Details">
        <div nz-row [nzGutter]="24">
          <nz-form-item nz-col nzSpan="12">
            <nz-form-label [nzNoColon]="true">
              Full Name <span class="text-danger">*</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="This field is required!">
              <input type="text" placeholder="Enter your full name" formControlName="fullName">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-col nzSpan="12">
            <nz-form-label [nzNoColon]="true">
              Email <span class="text-danger">*</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="This field is required!">
              <input type="email" placeholder="Enter your email" formControlName="email">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row [nzGutter]="24">
          <nz-form-item nz-col nzSpan="12">
            <nz-form-label [nzNoColon]="true">
              Phone Number <span class="text-danger">*</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="This field is required!">
              <input type="text" placeholder="Enter your phone" formControlName="phoneNumber">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row [nzGutter]="24" *ngIf="!isUpdate">
          <nz-form-item nz-col nzSpan="12">
            <nz-form-label [nzNoColon]="true">
              Password <span class="text-danger">*</span>
            </nz-form-label>
            <nz-form-control nzErrorTip="This field is required!">
              <input type="password" placeholder="Enter your password" formControlName="password">
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-row [nzGutter]="24">
          <nz-form-item nz-col nzSpan="24">
            <nz-form-label [nzNoColon]="true">
              Address
            </nz-form-label>
            <nz-form-control>
              <input type="text" placeholder="Enter your address" formControlName="address">
            </nz-form-control>
          </nz-form-item>
        </div>
      </app-sts-collapse>
    </div>
  </form>

</div>
