<div class="layout-container">
  <section class="layout-container__header">
    <h3 class="layout-container__title-header">Product Sizes</h3>
    <div class="d-flex align-items-center">
      <button class="btn btn--primary btn--rounded ml-3" (click)="createProductSize()">
          <i nz-icon nzType="plus-square" nzTheme="fill"></i>
          Create Product Size
      </button>
  </div>
  </section>
  <section class="filter">
    <div nz-row nzGutter="12">
      <div nz-col nzSpan="6">
        <app-sts-input placeholder="Search ProductSize Name, Email " icon="search" [(value)]="filter.terms"
          (valueChange)="onFilter()">
        </app-sts-input>
      </div>
      <div nz-col nzSpan="6">
        <button class="btn btn--outline btn--rounded btn--reset" type="button" nzType="primary" (click)="reset()">
          <app-sts-icon [icon]="'refresh.svg'" [width]="12" [height]="16"></app-sts-icon>Reset
        </button>
      </div>

    </div>
  </section>
  <nz-table class="table-content" [nzData]="productSizeList" [nzFrontPagination]="true" [nzShowPagination]="false"
    [nzTotal]="filter.total" [nzPageSize]="filter.take" [nzPageIndex]="filter.pageIndex" #dataTable>
    <thead>
      <tr>
        <ng-container *ngFor="let thead of tableHeader">
          <ng-container *ngIf="thead.sortValue; else noSortHeaderTemplate">
              <th class="cursor-pointer border-content" [appStsSortTable]="sortOption[thead.sortValue]"
                  [class.text-center]="thead?.alignment == ALIGNMENT_HEADER.CENTER"
                  [class.text-right]="thead?.alignment == ALIGNMENT_HEADER.RIGHT" [ngClass]="thead?.class"
                  [nzWidth]="thead?.width" (sortChange)="onSortBy($event)">
                  {{ thead.title }}
              </th>
          </ng-container>
          <ng-template #noSortHeaderTemplate>
              <th  class="cursor-pointer border-content" [class.text-center]="thead?.alignment == ALIGNMENT_HEADER.CENTER"
                  [class.text-right]="thead?.alignment == ALIGNMENT_HEADER.RIGHT" [ngClass]="thead?.class"
                  [nzWidth]="thead?.width">
                  {{ thead.title }}
              </th>
          </ng-template>
      </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productSize of dataTable.data; let i = index">
        <td class="center">
          {{productSize?.id}}
        </td>
        <td>
          {{productSize?.name}}
        </td>
        <td>
          {{productSize?.size}}
        </td>
        <td>
          {{productSize?.quantity}}
        </td>
        <td>
          <a  class="ant-sub-menu-item-wrapper" [routerLink]="[ '/' + ROUTING_PATH.PRODUCT_SIZE.UPDATE + '/' + productSize.id ]">
            <span class="item-menu-route">Update</span>
        </a>
        </td>
    </tbody>
  </nz-table>
  <div class="nz-footer">
    <app-sts-pagination [paging]="filter" (pagingChange)="onChangePaging($event)"></app-sts-pagination>
</div>
</div>
