<div *ngIf="formGroup" class="layout-container">
  <section class="layout-container__header">
    <h3 class="layout-container__title-header">
      <i nz-icon nzType="arrow-left" nzTheme="outline" (click)="back()" class="btn--back"></i>
      Update Product Detail
    </h3>
  </section>
  <app-product-detail-form formControlName="productDetail" [formGroup]="formGroup" [isUpdate]="true" [isSubmited]="isSubmited"></app-product-detail-form>
  <section class="layout-container__footer">
    <button class="btn btn--primary btn--rounded mr-3" (click)="onSave()">
      Save
    </button>
    <button class="btn btn--primary btn--rounded mr-3" (click)="onSave(true)">
      Save & Close
    </button>
    <button class="btn btn--outline btn--rounded" type="button" nzType="primary" (click)="onCancel()">Close</button>
  </section>
</div>
